body {
background-color:white;
}


h1 {
text-align: center;
color:blue;
font-size: medium;

}

p {
color: white;
font-size: small;
text-align: center;
}

label{
    display: block;
    margin-top: 10px;
}

input{
    width: 200px;
    padding: 5px;
    margin-top: 3px;
}

button{
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background-color: darkgreen;
    border-radius: 20px;
}

button:hover{
    background-color: darkblue;
    cursor: pointer;
}
